@charset "utf-8";

p {
    font-size: 14px !important;
    overflow:visible !important;
    display:block!important;
}

h1 {
    font-family: "Delius Swash Caps", cursive !important; 
    color:#3E8A2A !important; 
    font-size:25px !important;
}

h2 {
    font-family: "Truculenta", sans-serif !important; 
    color:black !important; 
    font-size:20px !important;
}

h3 {
    font-family: "Truculenta", sans-serif !important; 
    color:#3E8A2A !important; 
    font-size:18px !important;
}

body {
    background-image:url(https://static.wixstatic.com/media/335dda_25e97df00e7841bb90ab466bbe11e12c~mv2_d_2800_4200_s_4_2.jpg/v1/fill/w_1136,h_3150,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/335dda_25e97df00e7841bb90ab466bbe11e12c~mv2_d_2800_4200_s_4_2.jpg);
}

.delius-swash caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.truculenta-<sans> {
  font-family: "Truculenta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

#container-fluid {
    background-color: floralwhite;
}

.nav-link {
    color: #3E8A2A !important;
    font-family: "Delius Swash Caps", cursive !important;
    font-size: 18px !important;
}

.dropdown-item {
    color: #3E8A2A !important;
    font-family: "Delius Swash Caps", cursive !important;
}

.col-md-8 {
    max-height:390px;
    overflow:visible !important;
    display:block !important;
}

/* Style the form */
#regForm {
  padding: 40px;
  width: 100%;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}